In [51]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [52]:
df = pd.read_csv('data/insurance.csv')

display(df.head())

display(df.corr())

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

               age       bmi  children   charges
age       1.000000  0.109272  0.042469  0.299008
bmi       0.109272  1.000000  0.012759  0.198341
children  0.042469  0.012759  1.000000  0.067998
charges   0.299008  0.198341  0.067998  1.000000

1. Pastikan semua variabel kategorial diolah dengan baik. (Gunakan fitur mapping pada pandas)

In [53]:
new_labels_sex = {
    'male': 1,
    'female': 0
}

new_labels_smoker ={
    'yes' : 1,
    'no' : 0
}

new_labels_region ={
    'northwest' : 0,
    'southwest' : 1,
    'southeast' : 2,
    'northeast' : 3 
}

# Encode label
df['sex'] = df['sex'].map(new_labels_sex)
df['smoker'] = df['smoker'].map(new_labels_smoker)
df['region'] = df['region'].map(new_labels_region)

# Cek data
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       1  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       0  21984.47061
4   32    1  28.880         0       0       0   3866.85520

In [54]:
df2 = df

2. Cek kondisi multicollinearity untuk semua variabel independen. Jika ada, antar variabel apakah itu?

In [40]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
  
# the independent variables set
X = df[['age', 'bmi', 'region','sex', 'smoker', 'children']]
  
# VIF dataframe
vif_data = pd.DataFrame()
vif_data["feature"] = X.columns
  
# calculating VIF for each feature
vif_data["VIF"] = [variance_inflation_factor(X.values, i)
                          for i in range(len(X.columns))]
  
print(vif_data)

    feature       VIF
0       age  7.588734
1       bmi  9.938670
2    region  2.789478
3       sex  2.002652
4    smoker  1.261195
5  children  1.799980

skor VIF yang tinggi pada variabel age dan bmi menunjukkan terjadi multicollinearity antar variabel age dan bmi

3. Pastikan model menggunakan variabel yang tidak memiliki nilai multicollinearity yang tinggi
    Variabel yang digunakan = 'region', 'sex', 'smoker', 'children'
4. (Hints) Anda dapat menggunakan nilai Variance Inflation Factor(VIF) untuk mengetahui tingkat multicollinearity pada sebuah variabel independent.

In [41]:
df = df.drop(df.columns[0], axis=1)
df = df.drop(df.columns[1], axis=1)
df.head()

   sex  children  smoker  region      charges
0    0         0       1       1  16884.92400
1    1         1       0       2   1725.55230
2    1         3       0       2   4449.46200
3    1         0       0       0  21984.47061
4    1         0       0       0   3866.85520

5. Evaluasi model yang ada buat dengan nilai R-Squared

In [42]:
databaru = df
databaru.head()

   sex  children  smoker  region      charges
0    0         0       1       1  16884.92400
1    1         1       0       2   1725.55230
2    1         3       0       2   4449.46200
3    1         0       0       0  21984.47061
4    1         0       0       0   3866.85520

In [43]:
X = databaru.iloc[:, :-1].values
y = databaru.iloc[:, 4].values

In [44]:
Xm_train, Xm_test, ym_train, ym_test = train_test_split(X, y, test_size=0.4, random_state=30)

In [45]:
y = y.reshape(len(y), 1)
y.shape

(1338, 1)

In [46]:
mlr = LinearRegression()
mlr.fit(Xm_train, ym_train)

ym_pred = mlr.predict(Xm_test)

In [47]:
gabung = np.concatenate((ym_test, ym_pred))
gabung

array([41919.097     ,  3659.346     ,  4746.344     , ...,
        7323.00920745,  8648.28972763,  8071.19702927])

In [48]:
r2_mlr = r2_score(ym_test, ym_pred)
print(r2_mlr)

0.6582539086955825

6. Simpulkan, variabel independen apa saja yang dapat digunakan untuk menghasilkan model regresi yang baik pada kasus medical insurance costs?

In [55]:
df2.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       1  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       0  21984.47061
4   32    1  28.880         0       0       0   3866.85520

In [63]:
X1 = df2.iloc[:, :-1].values
y1 = df2.iloc[:, 6].values

In [64]:
Xm1_train, Xm1_test, ym1_train, ym1_test = train_test_split(X1, y1, test_size=0.4, random_state=30)

In [65]:
y1 = y1.reshape(len(y1), 1)
y1.shape

(1338, 1)

In [66]:
mlr1 = LinearRegression()
mlr1.fit(Xm1_train, ym1_train)

ym1_pred = mlr1.predict(Xm1_test)

In [67]:
gabung1 = np.concatenate((ym1_test, ym1_pred))
gabung

array([41919.097     ,  3659.346     ,  4746.344     , ...,
        7323.00920745,  8648.28972763,  8071.19702927])

In [68]:
r2_mlr1 = r2_score(ym1_test, ym1_pred)
print(r2_mlr1)

0.7788429492976457

Kesimpulan : nilai prediksi yang menggunakan semua variabel(termasuk variabel yang memiliki nilai VIF tinggi) memiliki hasil yang lebih baik daripada nilai prediksi yang tidak menggunakan variabel dengan nilai VIF tinggi.